/*reset*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 
/*generics*/
body{
    font-family: sans-serif;
}

/*utils*/

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.h-100{
    height: 100%;
}

.reverse{
    flex-direction: row-reverse;
}

.border{
    border: 2px dashed white;
}

.bg-grey{
    background-color: rgb(201,201,201);
}

.bg-white{
    background-color: white;
}


/*header*/
header{
    background-color: rgb(157,208,224);
}

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > *{
    padding: 10px 0;
    background-color: rgb(208,149,26);
    flex-basis: 20%;

}

.navbar-menu{
    flex-grow: 1;
    text-align: center;
}

.navbar-actions{
    text-align: end;
}

/*jumbotron*/

.jumbotron{
    background-color: rgb(0,0,120) ;
    height: 500px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.jumbotron-content{
    background-color: rgb(230,101,233);
    width: 50%;
    height: 100%;
}

/*sezioni*/

section{
    padding: 60px 0;
    height: 600px;
}

.large-col{
    flex-basis: 60%;
    background-color: rgb(27,121,254);
}

.small-col{
    flex-basis: 40%;
    background-color: rgb(253,176,191);
}

.full-col{
    background-color: rgb(32,124,26);
    flex-basis: 100%;
}

/*footer*/

footer{
    background-color: black;
    padding: 50px 0;
}

.footer-top{
height: 600px;
border-bottom: 1px solid white;
padding-bottom: 30px;
}

.footer-left{
    flex-basis: 30%;
    background-color: rgb(229,103,107);
}

.footer-right{
    flex-basis: 70%;
    background-color: rgb(33,164,153);
}

.footer-nav{
    display: flex;
    height: 100%;
}

.footer-nav > *{
    flex-basis: 25%;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-bottom > *{
    
    background-color: rgb(253,165,179);
}